
.sync-subheader {
  padding: 0;
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;

  .tabs-top & {
    top: 93px;
  }

  &.bar {
    padding: 0;
  }

  &.bar-subheader {
    height: auto;
  }



  .list{
    position: relative;
    background: $status-background-color;
    top: 0;

    a {
      position: absolute;
      right: 10px;
      top: 3px;
      color: $status-text-color;
    }

    .item {
      background: none;
      border: 0;

      &:first-of-type{
        margin-right: 30px;
      }

      h2, i , p{
        color:  $status-text-color;
      }

      p{
        font-size: 0.8rem;
      }
    }

  }
}