<ion-view view-title="Dashboard">
    <sync-subheader loading="loading" error-list="errorList"></sync-subheader>
    <ion-content class="padding">



        <div class="list card">
            <div class="item item-divider">Sub header options</div>
            <div class="item" ng-click="toggleLoading()">
                <div >
                    Toggle loading
                </div>
            </div>

            <div class="item" ng-click="showError()">
                <div >Show Error</div>
            </div>

        </div>

    </ion-content>
</ion-view>
