<div class="bar bar-subheader sync-subheader">
    <div class="loader-bar" ng-show="loading"></div>

    <div class="list" ng-show="visible">

        <a class="button button-icon icon ion-ios-close-empty" ng-click="close()"></a>

        <div class="item item-text-wrap item-icon-left" ng-click="toggleDetails()">
            <i class="icon" ng-class="showDetails ? 'ion-ios-arrow-up' : 'ion-ios-arrow-down'"></i>
            <p>{{'SYNC_ERROR' | translate}}</p>
        </div>

        <div class="item item-text-wrap item-icon-left" ng-repeat="error in errorList" ng-show="showDetails">
            <i class="icon" ng-class="error.method == 'put'? 'ion-ios-cloud-upload' : 'ion-ios-cloud-download'"></i>
            <h2 ng-if="error.statusCode">{{'STATUS' | translate}}: {{error.statusCode}}</h2>
            <p ng-if="error.message">{{error.message}}</p>
            <p ng-if="!error.statusCode && !error.message">{{'UNKNOWN_ERROR' | translate}}</p>
        </div>
    </div>
</div>